#content {
    background-image: url(sogen.jpeg);
    background-size:contain;
    background-attachment:fixed;
    z-index: 0;
    overflow: hidden;
    background-position: top 200px;
}

#content:before{
    content: '';
    background: inherit;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
  }